{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container" style="max-width: 400px;">
    <h1>Login</h1>

    {% if erro %}
        <p style="color: red; margin-bottom: 10px;">{{ erro }}</p>
    {% endif %}

    <form method="POST">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="senha" placeholder="Senha" required>
        <button type="submit">Entrar</button>
    </form>
</div>
{% endblock %}
